.container{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.row{
    justify-content: center;
    display: flex;
    align-items: center;
    width: 80%;
    background-color: #B6C9BB;
    color: #8AA892;
    margin: 10px auto;
}

.row-left, .row-right{
    width: 50%;
    
}

.row-left{
    padding: 20px;
    width: 400px;
    height: 300px;
    margin: 10px auto;
}
.row-right{
    padding: 20px;
    width: 400px;
    height: 300px;
    margin: 10px auto;
}

.custum{
 margin: auto;
}

aside p{
    margin: 0px auto;
}