form div p {
    text-align: center;
    padding: 10px;
    margin: auto;
    background-color: #6BB38C;
    color: white;
    width: 25%;
}



.window{
    background-color: #AED5C0;
    padding: 40px;
    text-align: center;
    width: 30%;
    margin:20px auto;
}



.button{
    border-radius: 20px;
    margin: 10px;
}

form a{
    background-color:rgba(0,0,0,0);
}

ul{
    margin: 5px;
    text-align: left;
}